/*.THIS .slds-input{
    
   width: 100px;
    position: relative; 
}*/

/*.THIS .input{
    
   width: 100px;
    position: relative; 
}*/
/*.THIS .uiInput{
    
   width: 100px;
    position: relative; 
}*/
/*.THIS .uiInputText{
    
   width: 100px;
    position: relative; 
}*/
/*.THIS .uiInput--default{
    
   width: 100px;
    position: relative; 
}*/
.THIS .year{
    
   width: 100px;
   position: relative; 
}

.THIS .opex{
    
    width: 100px;
   position: relative; 
}